 @import "bulma";



body {





}


.container {
  width: 800px;
  height: 800px;
  border: 1px solid black;
  text-align: center;
  background-image: url('http://appinventor.mit.edu/explore/sites/all/files/ai2tutorials/magic8ball/magic8ball.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}

p {
  font-size: 20px;
  text-align: center;
  display: inline-block;
  margin-top: 300px;
  margin-right: 280px;
}

input {
  width: 400px;
  height: 100px;
  text-align: center;
  margin-right: 400px;
}

a {
  width: 300px;
  height: 200px;
  float: left;

}
